.image-overlay {
  position:relative;
  width:100%;
}

.image-target {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.image-overlay:hover .overlay {
  opacity: 0.6;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
    
.list-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-inner {
    margin-bottom:50px;
}

.carousel-indicators li {
  border: 1px solid gray;

}
.carousel-indicators .active {
  background-color: gray;
}

.glyphicon {
    font-size: 40px;
}

.pg {
    font-size: 18px!important;
}